#about-me-transition-text-divider {
  text-align: center;
  font-size: 1.5em;
}

#about-me-transition-text {
  text-align: center;
  font-style: italic;
  font-weight: 100;
}

#about-me-pic-one {
  height: 340px;
  width: 300px;
  margin: 1em;
  object-fit: cover;
  float: left;
  border-radius: 1em;
}

#about-me-pic-two {
  /* margin: 1em; */
  /* object-fit: cover; */
  /* float: left; */
  margin: auto;
  display: block;
  border-radius: 1em;
  width: 45%;
}

#about-me-pic-three {
  margin: 1em;
  object-fit: cover;
  width: 45%;
  float: left;
  border-radius: 1em;
}

#about-me-video-one {
  margin: auto;
  display: block;
  border-radius: 1em;
  width: 100%;
}

#about-me-pic-four {
  margin-left: 15px;
  display: block;
  border-radius: 1em;
  object-fit: cover;
  max-width: 320px;
  aspect-ratio: 1 / 1;
  float: right;
}

@media screen and (max-width: 750px) {
  /* Styles for screens up to 750px width */
  #about-me-pic-one {
    max-width: 150px;
    height: auto;
    border-radius: 1em;
  }

  #about-me-pic-two {
    max-width: 150px;
    height: auto;
    border-radius: 1em;
  }

  #about-me-pic-three {
    max-width: 150px;
    height: auto;
    border-radius: 1em;
  }

  #about-me-pic-four {
    max-width: 175px;
    height: auto;
    border-radius: 1em;
  }
}

#about-me-heading {
  text-align: center;
  font-size: 45px;
  line-height: 1em;
}

#about-me-subheading {
  text-align: center;
  font-size: 16px;
  line-height: 1em;
  margin-top: -1.5em;
  font-style: italic;
  text-align: center;
  font-size: 1em;
  margin-bottom: 1.5em;
}
