@import url("https://fonts.googleapis.com/css?family=Raleway");

#container--main {
  max-width: 875px;
  margin: 0 auto;
  padding: 1em;
}

* {
  font-family: "Raleway", sans-serif;
  text-align: justify;
  line-height: 1.5em;
  box-sizing: border-box;
}

body {
  background-color: #f8f5f0;
  color: #2b3938;
}

p,
span,
li {
  font-size: 1em;
}

nav {
  font-size: 2.2em;

  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

nav a:hover {
  text-decoration: underline;
}
nav a {
  text-decoration: none;
  /* animation: blink 5s infinite; */
}
/* @keyframes blink {
  0% {
    color: #2b3938;
    text-decoration: none;
  }
  25% {
    color: #2b3938;
    text-decoration: none;
  }
  50% {
    color: #666140;
    text-decoration: underline;
  }
  75% {
    color: #2b3938;
    text-decoration: none;
  }
  100% {
    color: #2b3938;
    text-decoration: none;
  }
} */

a {
  text-decoration: none;
  color: #551a8b;
}

a:hover {
  text-decoration: underline;
}

li {
  line-height: 1.9em;
}
