/* Hide scrollbar for Chrome, Safari and Opera */
/* :root::-webkit-scrollbar {
  display: none;
} */

/* Hide scrollbar for IE, Edge */
/* :root {
  -ms-overflow-style: none;
} */

/* Hide scrollbar for Firefox */
/* :root {
  scrollbar-width: none;
} */
